.SidebarUser {
  margin-bottom: 20px;
}

.RightSide {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.Label {
  font-size: 12px;
  font-weight: bold;
  color: #8e8e8e;
}

.Purple {
  color: #6c20e6;
}
